<div class="container">
  <div class="card">
    <div class="card-content">
      <h2>¡Gracias por Suscribirte!</h2>
      <h5>Verificación Pendiente</h5>
      <p>Para verificar tu cuenta haz click en el link que ha llegado a tu correo.</p>
      <p>Si no recibiste el link haz click <a href="/resend/{{us}}">aquí</a> para recibirlo nuevamente.</p>
    </div>
  </div>
</div>